<a href="https://colab.research.google.com/github/sl2py/oz_task/blob/main/250529_%EB%8F%84%EC%A0%84%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<span style="font-size:100%">

수업은 모두 열심히 들으셨나요?

간혹 강의에서 언급되지 않은 내용이 문제로 나올 수 있습니다.<br>
그럴땐 강의 내용 외 문제는 구글링을 통해 해결해주세요<br></span>
<span style="font-size:80%">
(구글링 또한 개발자가 갖쳐야할 역량 중에 하나랍니다 😊)
</span>

---

### Chapter05 : `Python 변수에 대한 개념 복습하기`

<span style="font-size:80%">[문제1]<br><br></span>
```Python으로 변수를 생성하는 방법으로 올바른 것을 고르세요```

1. number == 20
2. 100 == number
3. number(7)
4. number = 7

<span style="color:red">답변</span>

1,2번은 변수가 지정되지 않아서 비교가 안되고, 3번은 잘 모르겠는데...
4번은 변수가 할당되어져서
정답은 4번

----

<span style="font-size:80%">[문제2]<br><br></span>
```다음 중 올바르지 않은 것을 골라주세요```

이름 = "김오즈"<br>
나이 = 14<br>
소속 = "마법중"<br>
등급 = 3<br>

1. 이름 + 소속
2. 나이 + 등급
3. 소속 + 등급

<span style="color:red">답변</span>

1번은 문자열들끼리 , 2번은 정수끼리 모여서 맞는데
3번은 문자열과 정수의 합이라 오류식이어서
정답은 3번

----

<span style="font-size:80%">[문제3]<br><br></span>
```아래 변수의 type으로 올바른것을 골라주세요```

퀴즈 = "스페인에서 카리나를 보고 하는 말은?"<br>
type(퀴즈)

<span style="color:red">답변</span>

type(str)

----

<span style="font-size:80%">[문제4]<br><br></span>
```다음 중 변수 이름으로 사용할 수 없는 것을 모두 골라주세요```

1. 78abc
2. ABC
3. _ABC
4. _hello%2
5. for

<span style="color:red">답변</span>

1. 맨 앞에 숫자가 와서 x
4. 특수문자 %가 있어서 x
5. 프로그래밍 언어여서 x

----

<span style="font-size:80%">[문제5]<br><br></span>
```다음 중 변수와 연산자의 사용 방법으로 올바르지 않은 것을 모두 골라주세요```

x = 3
y = 7

1. x = x + y
2. x // 2
3. z >< x
4. y += x
5. ++x

<span style="color:red">답변</span>

----

### Chapter06 : `Python 자료형인 int와 float 개념 복습하기`

<span style="font-size:80%">[문제1]<br><br></span>
```실수를 정수로 만드는 식으로 올바른 것을 고르세요```

1. str(3.5)
2. int(3.5)
3. float(3.5)

<span style="color:red">답변</span>

2번

1. str 은 문자열로 만드는거
3. 맞는 식이 되려면 () 안에 정수가 와야함

----

<span style="font-size:80%">[문제2]<br><br></span>
```실수 3.5의 type과 동일한 것을 고르세요```

1. float(17//3)
2. int(10)-9
3. float11/2
4. float(10)-2

<span style="color:red">답변</span>

모르겠습니다..ㅠ
1. 이건 안의 몫을 나타내는거라 float(5) = 5.0
2. int(10) >> 10 이라서 10-9 = 1
3. ????
4. float(10) = 10.0 // 10.0-2 = 8.0

2번만 정수가 나올거같은데 실수와 같은 타입을 골라야해서 정답을 모르겠습니다..

----

<span style="font-size:80%">[문제3]<br><br></span>
```type(3.0 + 7.0)의 결과로 올바른 것을 고르세요```

1. 10
2. 10.0
3. int
4. float

<span style="color:red">답변</span>

type(10.0) 이 되니까 실수이므로 4번이 정답

----

<span style="font-size:80%">[문제4]<br><br></span>
```float(5)의 결과로 올바른 것을 고르세요```

1. 5
2. `<class float>`
3. 5.0
4. type error

<span style="color:red">답변</span>

정수를 실수로 바꿔주는 식이라 5를 실수로 바꿔주면 5.0 이므로 정답은 3번

----

<span style="font-size:80%">[문제5]<br><br></span>
```int(13 / 2)의 결과로 올바른 것을 고르세요```

1. 6.5
2. 1
3. 6
4. 6.0

<span style="color:red">답변</span>

int 는 정수를 나타내는데 괄호안의 값은 6.5 정수로 나타내야하니까 0.5를 버리고 6 정답은 3번

----

### Chapter07 : `Python 자료형인 str와 bool 개념 복습하기`

<span style="font-size:80%">[문제1]<br><br></span>
```변수 퀴즈에 들어있는 정답 "어중이떠중이"를 출력하기 위한 슬라이싱으로 올바른 것을 모두 골라주세요```

퀴즈 = "스님이 공중에 뜬다를 4글자로 말하면? 어중이떠중이"

1. print(퀴즈[22:27])
2. print(퀴즈[22:])
3. print(퀴즈[22:28])
4. print(퀴즈[28])

<span style="color:red">답변</span>

인덱싱은 0부터 시작하고 슬라이싱으로 마지막글자까지 가져오려면 특성상 글자수의 +1 을 해야해서 정답은 3번

----

<span style="font-size:80%">[문제2]<br><br></span>
```과일 변수에 들어있는 p의 개수를 구하는 코드로 올바른 것을 골라주세요```

과일 = "apple"

1. 과일.count('p')
2. count(과일, 'p')
3. 과일.index('p')
4. count('p')

<span style="color:red">답변</span>

모르겠어서 지피티로 쳐봐서 공부했습니다. 정답은 1번

----

<span style="font-size:80%">[문제3]<br><br></span>
``` bool 타입에 해당하는 것만 골라주세요```

1. true
2. True
3. False
4. 0
5. 1

<span style="color:red">답변</span>

bool은 참,거짓을 나타내는 형식이고 첫글자가 대문자여야해서 정답은 2,3번

----

<span style="font-size:80%">[문제4]<br><br></span>
```문자열의 길이를 구하는 방법으로 올바른 것을 고르세요```

라라랜드 =  "사람들은 다른 사람들의 열정에 끌리게 되어있어 자신이 잊은 걸 상기시켜 주니까"

1. 라라랜드.len()
2. length(라라랜드)
3. len(라라랜드)
4. count(라라랜드)

<span style="color:red">답변</span>

3번 사실 이건 몰랐는데 파머님이 라이브세션때 len() 적으실때 lend인가로 잘못 적어서 고치시던데 기억이 나서...찍기!ㅋㅋㅋㅋ

----

### Chapter08 : `비교 연산자와 논리 연산자에 대해 복습해보기`

<span style="font-size:80%">[문제1]<br><br></span>
```비교 연산자의 결과로 올바르지 않은 것을 골라주세요```

1. 8 == 2 * 4&emsp;&emsp;결과 : True
2. 4 != 2 + 2&emsp;&emsp;결과 : False
3. 2 * 3 is 3 + 3&emsp;&emsp;결과 : True
4. 8 is 4 * 2.0&emsp;&emsp;결과 : True
5. 5 is 6 - 1.1&emsp;&emsp;결과 : False

<span style="color:red">답변</span>

4번 8은 정수고 8.0은 실수라서

----

<span style="font-size:80%">[문제2]<br><br></span>
```"x는 5와 같지 않다"라는 뜻과 동일한 것을 골라주세요```

1. x <= 5
2. x != 5
3. x & 5
4. x ! 5

<span style="color:red">답변</span>

2번

1번은 x가 5보다 작거나 같다
나머진 잘 모르겠는데 1,2번은 확실히 알기 때문에...ㅎㅎ

----

<span style="font-size:80%">[문제3]<br><br></span>
```비교 연산자와 논리 연산자의 결과로 올바른 것을 모두 골라주세요```

x = 10
y = 20

1. x == 10 or y == 10  결과 : False
2. x >= 10 and y < 30  결과 : True
3. not x == 10 결과 : False
4. y != 20 or x != 10  결과 : True
5. not y != 20 and x > 5  결과 : False

<span style="color:red">답변</span>

----

<span style="font-size:80%">[문제4]<br><br></span>
```'치맥' and True의 결과로 올바른 것을 골라주세요```

1. False
2. 아묻따
3. True
4. 치맥True

<span style="color:red">답변</span>

----

<span style="font-size:80%">[문제5]<br><br></span>
```논리 연산의 결과를 뒤집는 연산자를 골라주세요```

1. is not
2. not
3. !=
4. end
5. and
6. or

<span style="color:red">답변</span>